body{
	margin: 60px;
	background-color: #202028;
	color: #EEF0FF;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

span.form-blob{
	display: flex;
	margin: 30px 0px;
	width: 100%;
	justify-content: space-between;
}